body {
    background-color: #9CB898;
}

.yellow {
    background-color: #F1C448;
    color: #FFF;
}

.yellow:hover {
    background-color: #F1C448;
    color: #000;
}

.orange {
    background-color: #EBA521;
    color: #FFF;
}

.orange:hover {
    background-color: #EBA521;
    color: #000;
}

.darkGreen {
    background-color: #203C37;
    color: #FFF;
}

.darkOrange {
    background-color: #DE7E2F;
    color: #FFF;
}

.darkOrange:hover {
    background-color: #DE7E2F;
    color: #000;
}

.midGreen {
    background-color: #577D6B;
}

.red {
    background-color: #F14666;
    color: #FFF;
}

.footerLink {
    color: #F14666;
}

.footerLink:hover {
    color: #F1C448;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton {
    position: fixed;
    bottom: 9%;
    right: 3%;
}

.footer {
    padding: 1rem;
    bottom: 0;
    width: 100%;
    background-color: #203C37;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}